* {
    margin: 0px;
}

body {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    height: 100vh;
    
}

.title {
    align-self: center;
    justify-self: center;
}

.topcon {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    background-color: antiquewhite;
    font-size: 60px;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.sidebar {
    grid-area: 2 / 1 / 3 / 3;
    background-color: antiquewhite;
}

form {
    margin: 10px;
}

.formbox {
    margin: 15px;
}

#title, #author {
    width: 16%;
}

#pages {
    width: 12%;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainbody {
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightblue;
    border-left: 1px solid black;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 20px;
}

.diva {
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}

button.read {
    width: 125px;
    cursor: pointer;
}

button.read:hover{
    color: darkslategrey;
}